.navbar {
    background-color:  #3FBF3F;
    position: relative;
    z-index: 999;
    width: 100%;
    
    position: fixed;
    top: 0;
    
   
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
background: #3FBF3F;

}

.navbar li {
    display: inline-block;
    
}

.navbar li a {
    color: white;
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    
}

/* Style the dropdown menu */
.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
    
}
.nav{
    display: flex;
    justify-content: space-around;
}


.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

 /*Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
    background-color: #000000;
    color: white;
    
}  
.image{
    width: 100%;
    height: 100%;
    
}

  
/*  */
.text{
   width: 100%;   
}
.contain{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
    padding: 10px;
    /* text-align: -webkit-center; */
    /* flex-wrap: wrap; */
   
   
}
.footer {
    width: 100%;
   
    background-color: black;
    /* padding-left: 7%; */
  }

  .footer .col {
    /* width: 100%; */
    height: auto;
    /* display: block; */
    box-sizing: border-box;
    padding: 20px;
   

  }
  .footer .col h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 27px;
    padding: 20px 0;
    color: #3FBF3F;
    text-transform: uppercase;
  }
  .footer .col ul {
    list-style-type: none;
    padding: 0;
  }
  .footer .col ul li {
    color: white;
    font-size: 15px;
    padding: 10px 0px;
  }
  .address ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
.footer .col ul li:hover {
    cursor: pointer;
    color: lightgray;
    font-weight: bold;
  }
  .clearfix {
    clear: both;
  }
   @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .address {
      width: 1000px;
      display: block;
    }
    
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      } 
     
      .footer .col h2 {
        font-size: 10px; 
      }
      .footer .col ul li {
        font-size: 10px;
      }
  }
   @media only screen and (max-width: 390px) {
    .footer .col {
      width: 100%;
     
     
    } 
} 
 .box{
  background: white;
  
  
} 
.head{
  text-align: center;

  color: #3FBF3F;
 
}  
.boxouter{
  width: 100%;
  margin: 4px;
  
}
.cards{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  /* padding-top: 20px; */
 background-color:white;
 
 
}

.new {
  width: 100%;
  margin-top: 20px;;
}

.bio{
  text-align: center;
  /* width: 100%; */
  /* padding: 20px; */
  padding: 20px;
  background-color:white;
  color: #3FBF3F;
 

}